body {

  font-family: Arial;sans-serif;

}

#UserType {
  height:calc(2.25rem + 2px);
  width:100%;
  display:block;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  color:#495057;
  line-height: 1.5;
}

.container-fluid {
  margin-top:35px;
}

.main_card {
  margin-bottom:15px;
}

.edit_img {
  position: absolute;
  top:0px;
  right:0px;
  color: gray;
  display:none;
}
.edit_img:hover{
  color:black;
  cursor: pointer;
}

#submit_photo {
  display:none;
}
