body {

  font-family: Arial;sans-serif;

}
/* register.php */
#UserType {
  height:calc(2.25rem + 2px);
  width:100%;
  display:block;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  color:#495057;
  line-height: 1.5;
}

#orgDisplay {
  display:none;
}

.err_output {
  display:inline;
  /*border:1px solid gray;*/
  font-style: italic;
  color:red;
  font-size:11px;
  line-height: 10px;
  margin-left:20px;
}
/* register.php */

/*loggedin.php */
.container-fluid {
  margin-top:35px;
}

.main_card {
  margin-bottom:15px;
}

.edit_img {
  position: absolute;
  top:0px;
  right:0px;
  color: gray;
  display:none;
}
.edit_img:hover{
  color:black;
  cursor: pointer;
}
/*loggedin.php */

/*upload_photo */

#submit_photo {
  display:none;
}

/*upload_photo */
